{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for k in ['description', 'robots','author','keywords','twitter:card','twitter:site','twitter:title','twitter:creator','twitter:description','og:type','og:url','og:title','og:image','og:description'] %}
	{% if page[k]  %}
		<meta name="{{k}}" content="{{ page[k] }}" />
	{% endif %}
  {% endfor %}
  

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
	<main>
		{{ page.content }}
	</main>

	{% if page.modified %}
		<p>
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}
{% endblock %}
